<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bqhx.yyb.dao.CertificateMapper">
	<resultMap id="BaseResultMap" type="com.bqhx.yyb.vo.CertificateVO">
		<id column="contract" property="contract" jdbcType="CHAR" />
		<id column="return_interval" property="returnInterval" jdbcType="INTEGER" />
		<result column="money" property="money" jdbcType="INTEGER" />
		<result column="in_card_name" property="inCardName" jdbcType="VARCHAR" />
		<result column="in_card_no" property="inCardNo" jdbcType="VARCHAR" />
		<result column="interest_month" property="interestMonth"
			jdbcType="DECIMAL" />
		<result column="in_bank" property="inBank" jdbcType="VARCHAR" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="start_date" property="startDate" jdbcType="DATE" />
		<result column="begin_date" property="beginDate" jdbcType="DATE" />
		<result column="terminate_date" property="terminateDate" jdbcType="DATE" />
		<result column="del_flg" property="delFlg" jdbcType="CHAR" />
		<result column="tender_name" property="tenderName" jdbcType="CHAR" />
		<result column="tel" property="tel" jdbcType="CHAR" />
		<result column="type_code" property="typeCode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		contract, return_interval, money, in_card_name, in_card_no,
		interest_month, in_bank,
		type_name, start_date, begin_date, terminate_date,del_flg,tender_name,tel, type_code
	</sql>

	<select id="selectCertificateByCondition" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_certificate
		<where>
		        del_flg = '0'
			<if test="startTime != null and startTime != ''">
				and start_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and start_date &lt;=#{endTime}
			</if>
		</where>
	</select>

	<insert id="insertCertificate" useGeneratedKeys="true"
		keyProperty="contract" parameterType="java.lang.String">
		INSERT INTO t_certificate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contract != null and contract != ''">
				contract,
			</if>
			<if test="returnInterval != null and returnInterval != ''">
				return_interval,
			</if>
			<if test="money != null and money != ''">
				money,
			</if>
			<if test="inCardName != null and inCardName != ''">
				in_card_name,
			</if>
			<if test="inCardNo != null and inCardNo != ''">
				in_card_no,
			</if>
			<if test="interestMonth != null and interestMonth != ''">
				interest_month,
			</if>
			<if test="inBank != null and inBank != ''">
				in_bank,
			</if>
			<if test="typeName != null and typeName != ''">
				type_name,
			</if>
			<if test="startDate != null and startDate != ''">
				start_date,
			</if>
			<if test="beginDate != null and beginDate != ''">
				begin_date,
			</if>
			<if test="terminateDate != null and terminateDate != ''">
				terminate_date,
			</if>
			<if test="tenderName != null and tenderName != ''">
				tender_name,
			</if>
			<if test="tel != null and tel != ''">
				tel,
			</if>
			<if test="typeCode != null and typeCode != ''">
				type_code
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contract != null and contract != ''">
				#{contract,jdbcType=CHAR},
			</if>
			<if test="returnInterval != null and returnInterval != ''">
				#{returnInterval,jdbcType=INTEGER},
			</if>
			<if test="money != null and money != ''">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="inCardName != null and inCardName != ''">
				#{inCardName,jdbcType=VARCHAR},
			</if>
			<if test="inCardNo != null and inCardNo != ''">
				#{inCardNo,jdbcType=VARCHAR},
			</if>
			<if test="interestMonth != null and interestMonth != ''">
				#{interestMonth,jdbcType=DECIMAL},
			</if>
			<if test="inBank != null and inBank != ''">
				#{inBank,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null and typeName != ''">
				#{typeName,jdbcType=CHAR},
			</if>
			<if test="startDate != null and startDate != ''">
				#{startDate,jdbcType=DATE},
			</if>
			<if test="beginDate != null and beginDate != ''">
				#{beginDate,jdbcType=DATE},
			</if>
			<if test="terminateDate != null and terminateDate != ''">
				#{terminateDate,jdbcType=DATE},
			</if>
			<if test="tenderName != null and tenderName != ''">
				#{tenderName,jdbcType=CHAR},
			</if>
			<if test="tel != null and tel != ''">
				#{tel,jdbcType=CHAR},
			</if>
			<if test="typeCode != null and typeCode != ''">
				#{typeCode,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>

</mapper>