<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bqhx.yyb.dao.InformationVOMapper">
	<resultMap id="BaseResultMap" type="com.bqhx.yyb.vo.InformationVO">
		<id column="contract" jdbcType="CHAR" property="contract" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="zb_ratio" jdbcType="DECIMAL" property="zbRatio" />
		<result column="jx_achievement" jdbcType="DECIMAL" property="jxAchievement" />
		<result column="lc_manager" jdbcType="VARCHAR" property="lcManager" />
		<result column="lc_id" jdbcType="VARCHAR" property="lcId" />
		<result column="t_manager" jdbcType="VARCHAR" property="tmanager" />
		<result column="yyb" jdbcType="VARCHAR" property="yyb" />
		<result column="yyb_manager" jdbcType="VARCHAR" property="yybManager" />
		<result column="fgs" jdbcType="VARCHAR" property="fgs" />
		<result column="fgs_manager" jdbcType="VARCHAR" property="fgsManager" />
		<result column="dq" jdbcType="VARCHAR" property="dq" />
		<result column="dq_manager" jdbcType="VARCHAR" property="dqManager" />
		<result column="syb" jdbcType="VARCHAR" property="syb" />
		<result column="syb_manager" jdbcType="VARCHAR" property="sybManager" />
		<result column="periods" jdbcType="INTEGER" property="periods" />
		<result column="rate" jdbcType="DECIMAL" property="rate" />
		<result column="interest_all" jdbcType="DECIMAL" property="interestAll" />
		<result column="interest_month" jdbcType="DECIMAL" property="interestMonth" />
		<result column="payment_date" jdbcType="VARCHAR" property="paymentDate" />
		<result column="start_date" jdbcType="DATE" property="startDate" />
		<result column="end_date" jdbcType="DATE" property="endDate" />
		<result column="statement_date" jdbcType="CHAR" property="statementDate" />
		<result column="surplus_date" jdbcType="INTEGER" property="surplusDate" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="pos_no" jdbcType="CHAR" property="posNo" />
		<result column="tender_name" jdbcType="CHAR" property="tenderName" />
		<result column="id_type" jdbcType="CHAR" property="idType" />
		<result column="id_no" jdbcType="CHAR" property="idNo" />
		<result column="continue_flg" jdbcType="CHAR" property="continueFlg" />
		<result column="tel" jdbcType="CHAR" property="tel" />
		<result column="spread_type" jdbcType="CHAR" property="spreadType" />
		<result column="bank" jdbcType="CHAR" property="bank" />
		<result column="branch" jdbcType="CHAR" property="branch" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="card_name" jdbcType="VARCHAR" property="cardName" />
		<result column="card_province" jdbcType="VARCHAR" property="cardProvince" />
		<result column="card_city" jdbcType="VARCHAR" property="cardCity" />
		<result column="card_line" jdbcType="VARCHAR" property="cardLine" />
		<result column="in_bank" jdbcType="VARCHAR" property="inBank" />
		<result column="in_branch" jdbcType="VARCHAR" property="inBranch" />
		<result column="in_card_no" jdbcType="VARCHAR" property="inCardNo" />
		<result column="in_card_name" jdbcType="VARCHAR" property="inCardName" />
		<result column="in_card_province" jdbcType="VARCHAR" property="inCardProvince" />
		<result column="in_card_city" jdbcType="VARCHAR" property="inCardCity" />
		<result column="borrow_address" jdbcType="VARCHAR" property="borrowAddress" />
		<result column="contact_name" jdbcType="VARCHAR" property="contactName" />
		<result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
		<result column="contact_relationship" jdbcType="VARCHAR"
			property="contactRelationship" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="manager_no" jdbcType="CHAR" property="managerNo" />
		<result column="manager_status" jdbcType="CHAR" property="managerStatus" />
		<result column="del_flg" jdbcType="CHAR" property="delFlg" />
		<result column="ins_user" jdbcType="CHAR" property="insUser" />
		<result column="ins_date" jdbcType="CHAR" property="insDate" />
		<result column="upd_user" jdbcType="CHAR" property="updUser" />
		<result column="upd_date" jdbcType="CHAR" property="updDate" />
		<result column="card_addr" jdbcType="VARCHAR" property="cardAddr" />
		<result column="in_card_addr" jdbcType="VARCHAR" property="inCardAddr" />
		<result column="dq_assistant_manager" jdbcType="VARCHAR" property="dqAssistantManager" />
		<result column="syb_assistant_manager" jdbcType="VARCHAR" property="sybAssistantManager" />
	</resultMap>
	<resultMap id="ResultTypeMap" type="com.bqhx.yyb.vo.ResultTypeVO">
		<result column="syb" jdbcType="VARCHAR" property="syb" />
		<result column="dq" jdbcType="VARCHAR" property="dq" />
		<result column="fgs" jdbcType="VARCHAR" property="fgs" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="jx_achievement" jdbcType="DECIMAL" property="jxAchievement" />
		<result column="lc_id" jdbcType="VARCHAR" property="lcId" />
		<result column="payment_date" jdbcType="VARCHAR" property="paymentDate" />
		<result column="del_flg" jdbcType="CHAR" property="delFlg" />
		<result column="ins_user" jdbcType="CHAR" property="insUser" />
		<result column="ins_date" jdbcType="CHAR" property="insDate" />
		<result column="upd_user" jdbcType="CHAR" property="updUser" />
		<result column="upd_date" jdbcType="CHAR" property="updDate" />
		<result column="lcNum" jdbcType="NUMERIC" property="lcNum" />
		<result column="moneySum" jdbcType="NUMERIC" property="moneySum" />
		<result column="jxSum" jdbcType="DECIMAL" property="jxSum" />
		</resultMap>
		<resultMap id="ConditionResultMap" type="com.bqhx.yyb.vo.ConditionVO">
		<id column="contract" jdbcType="CHAR" property="contract" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="type" jdbcType="CHAR" property="type" />
		<result column="zb_ratio" jdbcType="DECIMAL" property="zbRatio" />
		<result column="jx_achievement" jdbcType="DECIMAL" property="jxAchievement" />
		<result column="lc_manager" jdbcType="VARCHAR" property="lcManager" />
		<result column="lc_id" jdbcType="VARCHAR" property="lcId" />
		<result column="t_manager" jdbcType="VARCHAR" property="tmanager" />
		<result column="yyb" jdbcType="VARCHAR" property="yyb" />
		<result column="yyb_manager" jdbcType="VARCHAR" property="yybManager" />
		<result column="fgs" jdbcType="VARCHAR" property="fgs" />
		<result column="fgs_manager" jdbcType="VARCHAR" property="fgsManager" />
		<result column="dq" jdbcType="VARCHAR" property="dq" />
		<result column="dq_manager" jdbcType="VARCHAR" property="dqManager" />
		<result column="syb" jdbcType="VARCHAR" property="syb" />
		<result column="syb_manager" jdbcType="VARCHAR" property="sybManager" />
		<result column="periods" jdbcType="INTEGER" property="periods" />
		<result column="rate" jdbcType="DECIMAL" property="rate" />
		<result column="interest_all" jdbcType="DECIMAL" property="interestAll" />
		<result column="interest_month" jdbcType="DECIMAL" property="interestMonth" />
		<result column="payment_date" jdbcType="VARCHAR" property="paymentDate" />
		<result column="start_date" jdbcType="DATE" property="startDate" />
		<result column="end_date" jdbcType="DATE" property="endDate" />
		<result column="statement_date" jdbcType="CHAR" property="statementDate" />
		<result column="surplus_date" jdbcType="INTEGER" property="surplusDate" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="pos_no" jdbcType="CHAR" property="posNo" />
		<result column="tender_name" jdbcType="CHAR" property="tenderName" />
		<result column="id_type" jdbcType="CHAR" property="idType" />
		<result column="id_no" jdbcType="CHAR" property="idNo" />
		<result column="continue_flg" jdbcType="CHAR" property="continueFlg" />
		<result column="tel" jdbcType="CHAR" property="tel" />
		<result column="spread_type" jdbcType="CHAR" property="spreadType" />
		<result column="bank" jdbcType="CHAR" property="bank" />
		<result column="branch" jdbcType="CHAR" property="branch" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="card_name" jdbcType="VARCHAR" property="cardName" />
		<result column="card_province" jdbcType="VARCHAR" property="cardProvince" />
		<result column="card_city" jdbcType="VARCHAR" property="cardCity" />
		<result column="card_line" jdbcType="VARCHAR" property="cardLine" />
		<result column="in_bank" jdbcType="VARCHAR" property="inBank" />
		<result column="in_branch" jdbcType="VARCHAR" property="inBranch" />
		<result column="in_card_no" jdbcType="VARCHAR" property="inCardNo" />
		<result column="in_card_name" jdbcType="VARCHAR" property="inCardName" />
		<result column="in_card_province" jdbcType="VARCHAR" property="inCardProvince" />
		<result column="in_card_city" jdbcType="VARCHAR" property="inCardCity" />
		<result column="borrow_address" jdbcType="VARCHAR" property="borrowAddress" />
		<result column="contact_name" jdbcType="VARCHAR" property="contactName" />
		<result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
		<result column="contact_relationship" jdbcType="VARCHAR"
			property="contactRelationship" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="manager_no" jdbcType="CHAR" property="managerNo" />
		<result column="manager_status" jdbcType="CHAR" property="managerStatus" />
		<result column="del_flg" jdbcType="CHAR" property="delFlg" />
		<result column="ins_user" jdbcType="CHAR" property="insUser" />
		<result column="ins_date" jdbcType="CHAR" property="insDate" />
		<result column="upd_user" jdbcType="CHAR" property="updUser" />
		<result column="upd_date" jdbcType="CHAR" property="updDate" />
		<result column="card_addr" jdbcType="VARCHAR" property="cardAddr" />
		<result column="in_card_addr" jdbcType="VARCHAR" property="inCardAddr" />
		<result column="dq_assistant_manager" jdbcType="VARCHAR" property="dqAssistantManager" />
		<result column="syb_assistant_manager" jdbcType="VARCHAR" property="sybAssistantManager" />
	</resultMap>
	<sql id="Base_Column_List">
		contract, money, type, zb_ratio, jx_achievement, lc_manager, lc_id, t_manager,
		yyb,
		yyb_manager, fgs, fgs_manager, dq, dq_manager, syb, syb_manager, periods, rate,
		interest_all,
		interest_month, payment_date,start_date, end_date, statement_date, surplus_date,
		status, pos_no, tender_name, id_type, id_no, continue_flg, tel,
		spread_type, bank,
		branch, card_no, card_name, card_province, card_city, card_line, in_bank,
		in_branch,
		in_card_no, in_card_name, in_card_province, in_card_city, borrow_address,
		contact_name,
		contact_tel, contact_relationship, remark, manager_no, manager_status, del_flg,
		ins_user,ins_date, upd_user,upd_date, card_addr, in_card_addr, dq_assistant_manager, syb_assistant_manager
	</sql>

	<select id="selectByCondition" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_information
		<where>
			del_flg = '0'
			<if test="tmanager != null and tmanager != ''">
				and t_manager = #{tmanager,jdbcType=VARCHAR}
			</if>
			<if test="yyb != null and yyb != ''">
				and yyb LIKE CONCAT('%',#{yyb,jdbcType=VARCHAR},'%')
			</if>
			<if test="yybManager != null and yybManager != ''">
				and yyb_manager = #{yybManager,jdbcType=VARCHAR}
			</if>
			<if test="lcManager != null and lcManager != ''">
				and lc_manager = #{lcManager,jdbcType=VARCHAR}
			</if>
			<if test="fgs != null and fgs != ''">
				and fgs LIKE CONCAT('%',#{fgs,jdbcType=VARCHAR},'%')
			</if>
			<if test="fgsManager != null and fgsManager != ''">
				and fgs_manager = #{fgsManager,jdbcType=VARCHAR}
			</if>
			<if test="dq != null and dq != ''">
				and dq LIKE CONCAT('%',#{dq,jdbcType=VARCHAR},'%')
			</if>
			<if test="dqManager != null and dqManager != ''">
				and dq_manager = #{dqManager,jdbcType=VARCHAR}
			</if>
			<if test="syb != null and syb != ''">
				and syb LIKE CONCAT('%',#{syb,jdbcType=VARCHAR},'%')
			</if>
			<if test="sybManager != null and sybManager != ''">
				and syb_manager = #{sybManager,jdbcType=VARCHAR}
			</if>
			<if test="tenderName != null and tenderName != ''">
				and tender_name LIKE CONCAT('%',#{tenderName,jdbcType=VARCHAR},'%')
			</if>
			<if test="contract != null and contract != ''">
				and contract LIKE CONCAT('%',#{contract,jdbcType=CHAR},'%')
			</if>
			<if test="tel != null and tel != ''">
				and tel LIKE CONCAT('%',#{tel,jdbcType=VARCHAR},'%')
			</if>
			<if test="startTime != null and startTime != ''">
				and payment_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and payment_date &lt;=#{endTime}
			</if>
			<if test="status != null and status != ''">
				and status = #{status,jdbcType=CHAR}
			</if>
			<if test="continueFlg != null and continueFlg != ''">
				and continue_flg = #{continueFlg,jdbcType=CHAR}
			</if>
		</where>
	</select>
	
	<select id="selectByContract" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_information
		<where>
			del_flg = '0'
			<if test="contract != null and contract != ''">
				and contract = #{contract,jdbcType=CHAR}
			</if>
		</where>
	</select>
	
	<select id="selectRePaymentByCondition" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_information
		<where>
			del_flg = '0'
			<if test="startTime != null and startTime != ''">
				and start_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and start_date &lt;=#{endTime}
			</if>
		</where>
	</select>
	
	<!-- 人力与业绩总表 -->
	<select id="selectHumanAndPerformanceByCondition" parameterType="java.lang.String"
		resultMap="ResultTypeMap">
		select
		  syb,dq,fgs,count(lc_id) as lcNum,sum(money) as moneySum,sum(jx_achievement) as jxSum
		from t_information
		<where>
			del_flg = '0'
			<if test="startTime != null and startTime != ''">
				and payment_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and payment_date &lt;=#{endTime}
			</if>
			<if test="jxAchievement != null and jxAchievement != ''">
				and jx_achievement &gt;=#{jxAchievement,jdbcType=DECIMAL}
			</if>
		</where>
		group by syb,dq,fgs
		order by syb
		<!-- having syb='第一事业部' -->
	</select>
	
	<!-- 每日业绩分表 -->
	<select id="selectPerformancePDByCondition" parameterType="java.lang.String"
		resultMap="ResultTypeMap">
		select
		  sum(money) as moneySum,payment_date
		from t_information
		<where>
			del_flg = '0'
			<if test="startTime != null and startTime != ''">
				and payment_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and payment_date &lt;=#{endTime}
			</if>
		</where>
		group by payment_date
		order by payment_date
	</select>
	
	<!-- 实时业绩表 -->
	<!-- 事业部、大区、分公司、营业部 -->
	<select id="selectMechanism" parameterType="java.lang.String" resultMap="ResultTypeMap">
		select
		  sum(money) as moneySum,payment_date
		from t_information
		<where>
			del_flg = '0'
			<if test="startTime != null and startTime != ''">
				and payment_date &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and payment_date &lt;=#{endTime}
			</if>
		</where>
		group by payment_date
		order by payment_date
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ConditionResultMap">
		select
		<include refid="Base_Column_List" />
		from t_information
		<where>
				del_flg = '0'
			<if test="contract != null and contract != ''">
				and contract = #{contract,jdbcType=CHAR}
			</if>
		</where>
	</select>
	
	<select id="selectAll" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_information
		<where>
		del_flg = '0'
			<!-- <if test="managerStatus != null">
				manager_status = #{managerStatus,jdbcType=CHAR}
			</if> -->
			<if test="status != null and status != ''">
				status = #{status,jdbcType=CHAR}
			</if>
			<if test="continueFlg != null and continueFlg != ''">
				and continue_flg = #{continueFlg,jdbcType=CHAR}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_information
		where contract = #{contract,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.bqhx.yyb.vo.InformationVO">
		insert into t_information (contract, money, type,
		zb_ratio, jx_achievement, lc_manager,
		lc_id, t_manager, yyb,
		yyb_manager, fgs, fgs_manager,
		dq, dq_manager, syb,
		syb_manager, periods, rate,
		interest_all, interest_month, payment_date,
		start_date, end_date, statement_date,
		surplus_date, status, pos_no,
		tender_name, id_type, id_no, continue_flg,
		tel, spread_type, bank, branch,
		card_no, card_name, card_province,
		card_city, card_line, in_bank,
		in_branch, in_card_no, in_card_name,
		in_card_province, in_card_city, borrow_address,
		contact_name, contact_tel, contact_relationship,
		remark, manager_no, manager_status,
		ins_user, ins_date,
		upd_user, upd_date, card_addr, in_card_addr)
		values (#{contract,jdbcType=CHAR}, #{money,jdbcType=INTEGER},
		#{type,jdbcType=CHAR},
		#{zbRatio,jdbcType=DECIMAL}, #{jxAchievement,jdbcType=DECIMAL}, #{lcManager,jdbcType=VARCHAR},
		#{lcId,jdbcType=VARCHAR}, #{tmanager,jdbcType=VARCHAR},
		#{yyb,jdbcType=VARCHAR},
		#{yybManager,jdbcType=VARCHAR}, #{fgs,jdbcType=VARCHAR}, #{fgsManager,jdbcType=VARCHAR},
		#{dq,jdbcType=VARCHAR}, #{dqManager,jdbcType=VARCHAR},
		#{syb,jdbcType=VARCHAR},
		#{sybManager,jdbcType=VARCHAR}, #{periods,jdbcType=INTEGER}, #{rate,jdbcType=DECIMAL},
		#{interestAll,jdbcType=DECIMAL}, #{interestMonth,jdbcType=DECIMAL},
		#{paymentDate,jdbcType=DATE},
		#{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{statementDate,jdbcType=CHAR},
		#{surplusDate,jdbcType=INTEGER}, #{status,jdbcType=CHAR},
		#{posNo,jdbcType=CHAR},
		#{tenderName,jdbcType=CHAR}, #{idType,jdbcType=CHAR}, #{idNo,jdbcType=CHAR},
		#{continueFlg,jdbcType=CHAR},
		#{tel,jdbcType=CHAR}, #{spreadType,jdbcType=CHAR}, #{bank,jdbcType=CHAR},
		#{branch,jdbcType=CHAR},
		#{cardNo,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, #{cardProvince,jdbcType=VARCHAR},
		#{cardCity,jdbcType=VARCHAR}, #{cardLine,jdbcType=VARCHAR},
		#{inBank,jdbcType=VARCHAR},
		#{inBranch,jdbcType=VARCHAR}, #{inCardNo,jdbcType=VARCHAR}, #{inCardName,jdbcType=VARCHAR},
		#{inCardProvince,jdbcType=VARCHAR}, #{inCardCity,jdbcType=VARCHAR},
		#{borrowAddress,jdbcType=VARCHAR},
		#{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR},
		#{contactRelationship,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}, #{managerNo,jdbcType=CHAR}, #{managerStatus,jdbcType=CHAR},
		#{insUser,jdbcType=CHAR},
		#{insDate,jdbcType=TIMESTAMP},
		#{updUser,jdbcType=CHAR}, #{updDate,jdbcType=TIMESTAMP}, #{cardAddr,jdbcType=VARCHAR}, 
		#{inCardAddr,jdbcType=VARCHAR}, #{dqAssistantManager,jdbcType=VARCHAR}, #{sybAssistantManager,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.bqhx.yyb.vo.InformationVO">
		insert into t_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contract != null and contract != ''">
				contract,
			</if>
			<if test="money != null and money != ''">
				money,
			</if>
			<if test="type != null and type != ''">
				type,
			</if>
			<if test="zbRatio != null and zbRatio != ''">
				zb_ratio,
			</if>
			<if test="jxAchievement != null and jxAchievement != ''">
				jx_achievement,
			</if>
			<if test="lcManager != null and lcManager != ''">
				lc_manager,
			</if>
			<if test="lcId != null and lcId != ''">
				lc_id,
			</if>
			<if test="tmanager != null and tmanager != ''">
				t_manager,
			</if>
			<if test="yyb != null and yyb != ''">
				yyb,
			</if>
			<if test="yybManager != null and yybManager != ''">
				yyb_manager,
			</if>
			<if test="fgs != null and fgs != ''">
				fgs,
			</if>
			<if test="fgsManager != null and fgsManager != ''">
				fgs_manager,
			</if>
			<if test="dq != null and dq != ''">
				dq,
			</if>
			<if test="dqManager != null and dqManager != ''">
				dq_manager,
			</if>
			<if test="syb != null and syb != ''">
				syb,
			</if>
			<if test="sybManager != null and sybManager != ''">
				syb_manager,
			</if>
			<if test="periods != null and periods != ''">
				periods,
			</if>
			<if test="rate != null and rate != ''">
				rate,
			</if>
			<if test="interestAll != null and interestAll != ''">
				interest_all,
			</if>
			<if test="interestMonth != null and interestMonth != ''">
				interest_month,
			</if>
			<if test="paymentDate != null and paymentDate != ''">
				payment_date,
			</if>
			<if test="startDate != null and startDate != ''">
				start_date,
			</if>
			<if test="endDate != null and endDate != ''">
				end_date,
			</if>
			<if test="statementDate != null and statementDate != ''">
				statement_date,
			</if>
			<if test="surplusDate != null and surplusDate != ''">
				surplus_date,
			</if>
			<if test="status != null and status != ''">
				status,
			</if>
			<if test="posNo != null and posNo != ''">
				pos_no,
			</if>
			<if test="tenderName != null and tenderName != ''">
				tender_name,
			</if>
			<if test="idType != null and idType != ''">
				id_type,
			</if>
			<if test="idNo != null and idNo != ''">
				id_no,
			</if>
			<if test="continueFlg != null and continueFlg != ''">
				continue_flg,
			</if>
			<if test="tel != null and tel != ''">
				tel,
			</if>
			<if test="spreadType != null and spreadType != ''">
				spread_type,
			</if>
			<if test="bank != null and bank != ''">
				bank,
			</if>
			<if test="branch != null and branch != ''">
				branch,
			</if>
			<if test="cardNo != null and cardNo != ''">
				card_no,
			</if>
			<if test="cardName != null and cardName != ''">
				card_name,
			</if>
			<if test="cardProvince != null and cardProvince != ''">
				card_province,
			</if>
			<if test="cardCity != null and cardCity != ''">
				card_city,
			</if>
			<if test="cardLine != null and cardLine != ''">
				card_line,
			</if>
			<if test="inBank != null and inBank != ''">
				in_bank,
			</if>
			<if test="inBranch != null and inBranch != ''">
				in_branch,
			</if>
			<if test="inCardNo != null and inCardNo != ''">
				in_card_no,
			</if>
			<if test="inCardName != null and inCardName != ''">
				in_card_name,
			</if>
			<if test="inCardProvince != null and inCardProvince != ''">
				in_card_province,
			</if>
			<if test="inCardCity != null and inCardCity != ''">
				in_card_city,
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				borrow_address,
			</if>
			<if test="contactName != null and contactName != ''">
				contact_name,
			</if>
			<if test="contactTel != null and contactTel != ''">
				contact_tel,
			</if>
			<if test="contactRelationship != null and contactRelationship != ''">
				contact_relationship,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="managerNo != null and managerNo != ''">
				manager_no,
			</if>
			<!-- <if test="managerStatus != null and managerStatus != ''"> manager_status, 
				</if> <if test="delFlg != null and delFlg != ''"> del_flg, </if> -->
			<if test="insUser != null and insUser != ''">
				ins_user,
			</if>
			<if test="insDate != null and insDate != ''">
				ins_date,
			</if>
			<if test="cardAddr != null and cardAddr != ''">
				card_addr,
			</if>
			<if test="inCardAddr != null and inCardAddr != ''">
				in_card_addr,
			</if>
			<if test="dqAssistantManager != null and dqAssistantManager != ''">
				dq_assistant_manager,
			</if>
			<if test="sybAssistantManager != null and sybAssistantManager != ''">
				syb_assistant_manager
			</if>
			<!-- <if test="updUser != null and updUser != ''"> upd_user, </if> <if 
				test="updDate != null and updDate != ''"> upd_date, </if> -->
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contract != null and contract != ''">
				#{contract,jdbcType=CHAR},
			</if>
			<if test="money != null and money != ''">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="type != null and type != ''">
				#{type,jdbcType=CHAR},
			</if>
			<if test="zbRatio != null and zbRatio != ''">
				#{zbRatio,jdbcType=DECIMAL},
			</if>
			<if test="jxAchievement != null and jxAchievement != ''">
				#{jxAchievement,jdbcType=DECIMAL},
			</if>
			<if test="lcManager != null and lcManager != ''">
				#{lcManager,jdbcType=VARCHAR},
			</if>
			<if test="lcId != null and lcId != ''">
				#{lcId,jdbcType=VARCHAR},
			</if>
			<if test="tmanager != null and tmanager != ''">
				#{tmanager,jdbcType=VARCHAR},
			</if>
			<if test="yyb != null and yyb != ''">
				#{yyb,jdbcType=VARCHAR},
			</if>
			<if test="yybManager != null and yybManager != ''">
				#{yybManager,jdbcType=VARCHAR},
			</if>
			<if test="fgs != null and fgs != ''">
				#{fgs,jdbcType=VARCHAR},
			</if>
			<if test="fgsManager != null and fgsManager != ''">
				#{fgsManager,jdbcType=VARCHAR},
			</if>
			<if test="dq != null and dq != ''">
				#{dq,jdbcType=VARCHAR},
			</if>
			<if test="dqManager != null and dqManager != ''">
				#{dqManager,jdbcType=VARCHAR},
			</if>
			<if test="syb != null and syb != ''">
				#{syb,jdbcType=VARCHAR},
			</if>
			<if test="sybManager != null and sybManager != ''">
				#{sybManager,jdbcType=VARCHAR},
			</if>
			<if test="periods != null and periods != ''">
				#{periods,jdbcType=INTEGER},
			</if>
			<if test="rate != null and rate != ''">
				#{rate,jdbcType=DECIMAL},
			</if>
			<if test="interestAll != null and interestAll != ''">
				#{interestAll,jdbcType=DECIMAL},
			</if>
			<if test="interestMonth != null and interestMonth != ''">
				#{interestMonth,jdbcType=DECIMAL},
			</if>
			<if test="paymentDate != null and paymentDate != ''">
				#{paymentDate,jdbcType=DATE},
			</if>
			<if test="startDate != null and startDate != ''">
				#{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null and endDate != ''">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="statementDate != null and statementDate != ''">
				#{statementDate,jdbcType=CHAR},
			</if>
			<if test="surplusDate != null and surplusDate != ''">
				#{surplusDate,jdbcType=INTEGER},
			</if>
			<if test="status != null and status != ''">
				#{status,jdbcType=CHAR},
			</if>
			<if test="posNo != null and posNo != ''">
				#{posNo,jdbcType=CHAR},
			</if>
			<if test="tenderName != null and tenderName != ''">
				#{tenderName,jdbcType=CHAR},
			</if>
			<if test="idType != null and idType != ''">
				#{idType,jdbcType=CHAR},
			</if>
			<if test="idNo != null and idNo != ''">
				#{idNo,jdbcType=CHAR},
			</if>
			<if test="continueFlg != null and continueFlg != ''">
				#{continueFlg,jdbcType=CHAR},
			</if>
			<if test="tel != null and tel != ''">
				#{tel,jdbcType=CHAR},
			</if>
			<if test="spreadType != null and spreadType != ''">
				#{spreadType,jdbcType=CHAR},
			</if>
			<if test="bank != null and bank != ''">
				#{bank,jdbcType=CHAR},
			</if>
			<if test="branch != null and branch != ''">
				#{branch,jdbcType=CHAR},
			</if>
			<if test="cardNo != null and cardNo != ''">
				#{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="cardName != null and cardName != ''">
				#{cardName,jdbcType=VARCHAR},
			</if>
			<if test="cardProvince != null and cardProvince != ''">
				#{cardProvince,jdbcType=VARCHAR},
			</if>
			<if test="cardCity != null and cardCity != ''">
				#{cardCity,jdbcType=VARCHAR},
			</if>
			<if test="cardLine != null and cardLine != ''">
				#{cardLine,jdbcType=VARCHAR},
			</if>
			<if test="inBank != null and inBank != ''">
				#{inBank,jdbcType=VARCHAR},
			</if>
			<if test="inBranch != null and inBranch != ''">
				#{inBranch,jdbcType=VARCHAR},
			</if>
			<if test="inCardNo != null and inCardNo != ''">
				#{inCardNo,jdbcType=VARCHAR},
			</if>
			<if test="inCardName != null and inCardName != ''">
				#{inCardName,jdbcType=VARCHAR},
			</if>
			<if test="inCardProvince != null and inCardProvince != ''">
				#{inCardProvince,jdbcType=VARCHAR},
			</if>
			<if test="inCardCity != null and inCardCity != ''">
				#{inCardCity,jdbcType=VARCHAR},
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				#{borrowAddress,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null and contactName != ''">
				#{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null and contactTel != ''">
				#{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="contactRelationship != null and contactRelationship != ''">
				#{contactRelationship,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="managerNo != null and managerNo != ''">
				#{managerNo,jdbcType=CHAR},
			</if>
			<!-- <if test="managerStatus != null and managerStatus != ''"> #{managerStatus,jdbcType=CHAR}, 
				</if> <if test="delFlg != null and delFlg != ''"> #{delFlg,jdbcType=CHAR}, 
				</if> -->
			<if test="insUser != null and insUser != ''">
				#{insUser,jdbcType=CHAR},
			</if>
			<if test="insDate != null and insDate != ''">
				#{insDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cardAddr != null and cardAddr != ''">
				#{cardAddr,jdbcType=VARCHAR},
			</if>
			<if test="inCardAddr != null and inCardAddr != ''">
				#{inCardAddr,jdbcType=VARCHAR},
			</if>
			<if test="dqAssistantManager != null and dqAssistantManager != ''">
				#{dqAssistantManager,jdbcType=VARCHAR},
			</if>
			<if test="dqAssistantManager != null and dqAssistantManager != ''">
				#{dqAssistantManager,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bqhx.yyb.vo.ConditionVO">
		update t_information
		<set>
			<if test="money != null and money != ''">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="type != null and type != ''">
				type = #{type,jdbcType=CHAR},
			</if>
			<if test="zbRatio != null and zbRatio != ''">
				zb_ratio = #{zbRatio,jdbcType=DECIMAL},
			</if>
			<if test="jxAchievement != null and jxAchievement != ''">
				jx_achievement = #{jxAchievement,jdbcType=DECIMAL},
			</if>
			<if test="lcManager != null and lcManager != ''">
				lc_manager = #{lcManager,jdbcType=VARCHAR},
			</if>
			<if test="lcId != null and lcId != ''">
				lc_id = #{lcId,jdbcType=VARCHAR},
			</if>
			<if test="tmanager != null and tmanager != ''">
				t_manager = #{tmanager,jdbcType=VARCHAR},
			</if>
			<if test="yyb != null and yyb != ''">
				yyb = #{yyb,jdbcType=VARCHAR},
			</if>
			<if test="yybManager != null and yybManager != ''">
				yyb_manager = #{yybManager,jdbcType=VARCHAR},
			</if>
			<if test="fgs != null and fgs != ''">
				fgs = #{fgs,jdbcType=VARCHAR},
			</if>
			<if test="fgsManager != null and fgsManager != ''">
				fgs_manager = #{fgsManager,jdbcType=VARCHAR},
			</if>
			<if test="dq != null and dq != ''">
				dq = #{dq,jdbcType=VARCHAR},
			</if>
			<if test="dqManager != null and dqManager != ''">
				dq_manager = #{dqManager,jdbcType=VARCHAR},
			</if>
			<if test="syb != null and syb != ''">
				syb = #{syb,jdbcType=VARCHAR},
			</if>
			<if test="sybManager != null and sybManager != ''">
				syb_manager = #{sybManager,jdbcType=VARCHAR},
			</if>
			<if test="periods != null and periods != ''">
				periods = #{periods,jdbcType=INTEGER},
			</if>
			<if test="rate != null and rate != ''">
				rate = #{rate,jdbcType=DECIMAL},
			</if>
			<if test="interestAll != null and interestAll != ''">
				interest_all = #{interestAll,jdbcType=DECIMAL},
			</if>
			<if test="interestMonth != null and interestMonth != ''">
				interest_month = #{interestMonth,jdbcType=DECIMAL},
			</if>
			<if test="paymentDate != null and paymentDate != ''">
				payment_date = #{paymentDate,jdbcType=DATE},
			</if>
			<if test="startDate != null and startDate != ''">
				start_date = #{startDate,jdbcType=DATE},
			</if>
			<if test="endDate != null and endDate != ''">
				end_date = #{endDate,jdbcType=DATE},
			</if>
			<if test="statementDate != null and statementDate != ''">
				statement_date = #{statementDate,jdbcType=CHAR},
			</if>
			<if test="surplusDate != null and surplusDate != ''">
				surplus_date = #{surplusDate,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status != ''">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="posNo != null and posNo != ''">
				pos_no = #{posNo,jdbcType=CHAR},
			</if>
			<if test="tenderName != null and tenderName != ''">
				tender_name = #{tenderName,jdbcType=CHAR},
			</if>
			<if test="idType != null and idType != ''">
				id_type = #{idType,jdbcType=CHAR},
			</if>
			<if test="idNo != null and idNo != ''">
				id_no = #{idNo,jdbcType=CHAR},
			</if>
			<if test="continueFlg != null and continueFlg != ''">
				continue_flg = #{continueFlg,jdbcType=CHAR},
			</if>
			<if test="tel != null and tel != ''">
				tel = #{tel,jdbcType=CHAR},
			</if>
			<if test="spreadType != null and spreadType != ''">
				spread_type = #{spreadType,jdbcType=CHAR},
			</if>
			<if test="bank != null and bank != ''">
				bank = #{bank,jdbcType=CHAR},
			</if>
			<if test="branch != null and branch != ''">
				branch = #{branch,jdbcType=CHAR},
			</if>
			<if test="cardNo != null and cardNo != ''">
				card_no = #{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="cardName != null and cardName != ''">
				card_name = #{cardName,jdbcType=VARCHAR},
			</if>
			<if test="cardProvince != null and cardProvince != ''">
				card_province = #{cardProvince,jdbcType=VARCHAR},
			</if>
			<if test="cardCity != null and cardCity != ''">
				card_city = #{cardCity,jdbcType=VARCHAR},
			</if>
			<if test="cardLine != null and cardLine != ''">
				card_line = #{cardLine,jdbcType=VARCHAR},
			</if>
			<if test="inBank != null and inBank != ''">
				in_bank = #{inBank,jdbcType=VARCHAR},
			</if>
			<if test="inBranch != null and inBranch != ''">
				in_branch = #{inBranch,jdbcType=VARCHAR},
			</if>
			<if test="inCardNo != null and inCardNo != ''">
				in_card_no = #{inCardNo,jdbcType=VARCHAR},
			</if>
			<if test="inCardName != null and inCardName != ''">
				in_card_name = #{inCardName,jdbcType=VARCHAR},
			</if>
			<if test="inCardProvince != null and inCardProvince != ''">
				in_card_province = #{inCardProvince,jdbcType=VARCHAR},
			</if>
			<if test="inCardCity != null and inCardCity != ''">
				in_card_city = #{inCardCity,jdbcType=VARCHAR},
			</if>
			<if test="borrowAddress != null and borrowAddress != ''">
				borrow_address = #{borrowAddress,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null and contactName != ''">
				contact_name = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null and contactTel != ''">
				contact_tel = #{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="contactRelationship != null and contactRelationship != ''">
				contact_relationship = #{contactRelationship,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="managerNo != null and managerNo != ''">
				manager_no = #{managerNo,jdbcType=CHAR},
			</if>
			<if test="managerStatus != null and managerStatus != ''">
				manager_status = #{managerStatus,jdbcType=CHAR},
			</if>
			<if test="delFlg != null and delFlg != ''">
				del_flg = #{delFlg,jdbcType=CHAR},
			</if>
			<if test="insUser != null and insUser != ''">
				ins_user = #{insUser,jdbcType=CHAR},
			</if>
			<if test="insDate != null and insDate != ''">
				ins_date = #{insDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updUser != null and updUser != ''">
				upd_user = #{updUser,jdbcType=CHAR},
			</if>
			<if test="updDate != null and updDate != ''">
				upd_date = #{updDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cardAddr != null and cardAddr != ''">
				card_addr = #{cardAddr,jdbcType=VARCHAR},
			</if>
			<if test="inCardAddr != null and inCardAddr != ''">
				in_card_addr = #{inCardAddr,jdbcType=VARCHAR},
			</if>
			<if test="dqAssistantManager != null and dqAssistantManager != ''">
				dq_assistant_manager = #{dqAssistantManager,jdbcType=VARCHAR},
			</if>
			<if test="sybAssistantManager != null and sybAssistantManager != ''">
				syb_assistant_manager = #{sybAssistantManager,jdbcType=VARCHAR}
			</if>
		</set>
		where contract = #{contract,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bqhx.yyb.vo.InformationVO">
		update t_information
		set money = #{money,jdbcType=INTEGER},
		type = #{type,jdbcType=CHAR},
		zb_ratio = #{zbRatio,jdbcType=DECIMAL},
		jx_achievement = #{jxAchievement,jdbcType=DECIMAL},
		lc_manager = #{lcManager,jdbcType=VARCHAR},
		lc_id = #{lcId,jdbcType=VARCHAR},
		t_manager = #{tmanager,jdbcType=VARCHAR},
		yyb = #{yyb,jdbcType=VARCHAR},
		yyb_manager = #{yybManager,jdbcType=VARCHAR},
		fgs = #{fgs,jdbcType=VARCHAR},
		fgs_manager = #{fgsManager,jdbcType=VARCHAR},
		dq = #{dq,jdbcType=VARCHAR},
		dq_manager = #{dqManager,jdbcType=VARCHAR},
		syb = #{syb,jdbcType=VARCHAR},
		syb_manager = #{sybManager,jdbcType=VARCHAR},
		periods = #{periods,jdbcType=INTEGER},
		rate = #{rate,jdbcType=DECIMAL},
		interest_all = #{interestAll,jdbcType=DECIMAL},
		interest_month = #{interestMonth,jdbcType=DECIMAL},
		payment_date = #{paymentDate,jdbcType=DATE},
		start_date = #{startDate,jdbcType=DATE},
		end_date = #{endDate,jdbcType=DATE},
		statement_date = #{statementDate,jdbcType=CHAR},
		surplus_date = #{surplusDate,jdbcType=VARCHAR},
		status = #{status,jdbcType=CHAR},
		pos_no = #{posNo,jdbcType=CHAR},
		tender_name = #{tenderName,jdbcType=CHAR},
		id_type = #{idType,jdbcType=CHAR},
		id_no = #{idNo,jdbcType=CHAR},
		continue_flg = #{continueFlg,jdbcType=CHAR},
		tel = #{tel,jdbcType=CHAR},
		spread_type = #{spreadType,jdbcType=CHAR},
		bank = #{bank,jdbcType=CHAR},
		branch = #{branch,jdbcType=CHAR},
		card_no = #{cardNo,jdbcType=VARCHAR},
		card_name = #{cardName,jdbcType=VARCHAR},
		card_province = #{cardProvince,jdbcType=VARCHAR},
		card_city = #{cardCity,jdbcType=VARCHAR},
		card_line = #{cardLine,jdbcType=VARCHAR},
		in_bank = #{inBank,jdbcType=VARCHAR},
		in_branch = #{inBranch,jdbcType=VARCHAR},
		in_card_no = #{inCardNo,jdbcType=VARCHAR},
		in_card_name = #{inCardName,jdbcType=VARCHAR},
		in_card_province = #{inCardProvince,jdbcType=VARCHAR},
		in_card_city = #{inCardCity,jdbcType=VARCHAR},
		borrow_address = #{borrowAddress,jdbcType=VARCHAR},
		contact_name = #{contactName,jdbcType=VARCHAR},
		contact_tel = #{contactTel,jdbcType=VARCHAR},
		contact_relationship = #{contactRelationship,jdbcType=VARCHAR},
		<!--remark = #{remark,jdbcType=VARCHAR}, manager_no = #{managerNo,jdbcType=CHAR}, 
			manager_status = #{managerStatus,jdbcType=CHAR}, del_flg = #{delFlg,jdbcType=CHAR}, -->
		ins_user = #{insUser,jdbcType=CHAR},
		ins_date = #{insDate,jdbcType=TIMESTAMP},
		upd_user = #{updUser,jdbcType=CHAR},
		upd_date = #{updDate,jdbcType=TIMESTAMP},
		card_addr = #{cardAddr,jdbcType=VARCHAR},
		in_card_addr = #{inCardAddr,jdbcType=VARCHAR},
		dq_assistant_manager = #{dqAssistantManager,jdbcType=VARCHAR},
		syb_assistant_manager = #{sybAssistantManager,jdbcType=VARCHAR}
		where contract = #{contract,jdbcType=CHAR}
	</update>
	
	<!-- 批量插入info表 -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_information(contract,money,type,zb_ratio,jx_achievement,lc_manager
		,lc_id,t_manager,yyb,yyb_manager,fgs,fgs_manager,dq,dq_manager,syb,syb_manager,periods,rate
		,interest_all,interest_month,payment_date,start_date,end_date,statement_date,surplus_date
		,status,pos_no,tender_name,id_type,id_no,continue_flg,tel,spread_type,bank,branch,card_no
		,card_name,card_province,card_city,card_line,in_bank,in_branch,in_card_no,in_card_name
		,in_card_province,in_card_city,borrow_address,contact_name,contact_tel
		,contact_relationship,remark,manager_no,ins_user,ins_date, card_addr, in_card_addr
		,dq_assistant_manager,syb_assistant_manager)
		values
		<foreach collection="conlist" item="item" index="index" separator="," > 
		(#{item.contract},#{item.money},#{item.type},
		#{item.zbRatio},#{item.jxAchievement},#{item.lcManager},
		#{item.lcId},#{item.tmanager},#{item.yyb},
		#{item.yybManager},#{item.fgs},#{item.fgsManager},
		#{item.dq},#{item.dqManager},#{item.syb},
		#{item.sybManager},#{item.periods},#{item.rate},
		#{item.interestAll},#{item.interestMonth},#{item.paymentDate},
		#{item.startDate},#{item.endDate},#{item.statementDate},
		#{item.surplusDate},#{item.status},#{item.posNo},
		#{item.tenderName},#{item.idType},#{item.idNo},
		#{item.continueFlg},#{item.tel},#{item.spreadType},
		#{item.bank},#{item.branch},#{item.cardNo},
		#{item.cardName},#{item.cardProvince},#{item.cardCity},
		#{item.cardLine},#{item.inBank},#{item.inBranch},
		#{item.inCardNo},#{item.inCardName},#{item.inCardProvince},
		#{item.inCardCity},#{item.borrowAddress},#{item.contactName},
		#{item.contactTel},#{item.contactRelationship},#{item.remark},
		#{item.managerNo},#{item.insUser},#{item.insDate},#{item.cardAddr},
		#{item.inCardAddr},#{item.dqAssistantManager},#{item.sybAssistantManager})
    	</foreach>
	</insert>
</mapper>