<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bqhx.yyb.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.bqhx.yyb.vo.UserVO" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="VARCHAR" />
        <result column="s_id" property="sid" jdbcType="VARCHAR" />
        <result column="d_id" property="did" jdbcType="VARCHAR" />
        <result column="f_id" property="fid" jdbcType="VARCHAR" />
        <result column="y_id" property="yid" jdbcType="VARCHAR" />
        <result column="t_id" property="tid" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="ins_user" property="insUser" jdbcType="CHAR" />
        <result column="ins_date" property="insDate" jdbcType="TIMESTAMP" />
        <result column="upd_user" property="updUser" jdbcType="CHAR" />
        <result column="upd_date" property="updDate" jdbcType="TIMESTAMP" />
        <result column="del_flg" property="delFlg" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        user_id, password, name, tel, type_id, s_id, d_id, f_id, y_id, t_id, id_card, del_flg, ins_user, ins_date, upd_user, upd_date
    </sql>

    <select id="selectUserByCondition" parameterType="java.lang.String" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM t_user
       <where>
       del_flg = '0'
       		<if test="userId != null and userId != ''">
				and user_id LIKE "%"#{userId,jdbcType=VARCHAR}"%"
			</if>
			<if test="name != null and name != ''">
				and name LIKE "%"#{name,jdbcType=VARCHAR}"%"
			</if>
			</where>
    </select>

    <insert id="insertUserSelective" parameterType="com.bqhx.yyb.vo.UserConditionVO">
    	INSERT INTO t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				user_id,
			</if>
			<if test="password != null and password != ''">
				password,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="tel != null and tel != ''">
				tel,
			</if>
			<if test="typeId != null and typeId != ''">
				type_id,
			</if>
			<if test="sid != null and sid != ''">
				s_id,
			</if>
			<if test="did != null and did != ''">
				d_id,
			</if>
			<if test="fid != null and fid != ''">
				f_id,
			</if>
			<if test="yid != null and yid != ''">
				y_id,
			</if>
			<if test="tid != null and tid != ''">
				t_id,
			</if>
			<if test="idCard != null and idCard != ''">
				id_card,
			</if>
			<if test="insUser != null and insUser != ''">
				ins_user,
			</if>
			<if test="insDate != null and insDate != ''">
				ins_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password != ''">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null and tel != ''">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null and typeId != ''">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="sid != null and sid != ''">
				#{sid,jdbcType=VARCHAR},
			</if>
			<if test="did != null and did != ''">
				#{did,jdbcType=VARCHAR},
			</if>
			<if test="fid != null and fid != ''">
				#{fid,jdbcType=VARCHAR},
			</if>
			<if test="yid != null and yid != ''">
				#{yid,jdbcType=VARCHAR},
			</if>
			<if test="tid != null and tid != ''">
				#{tid,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null and idCard != ''">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="insUser != null and insUser != ''">
				#{insUser,jdbcType=CHAR},
			</if>
			<if test="insDate != null and insDate != ''">
				#{insDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
    </insert>
    
    <select id="selectUserByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>
		del_flg = '0'
			<if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
			<if test="tel != null and tel != ''">
				and tel = #{tel}
			</if>
		</where>
	</select>
    
    <update id="updateUserByPrimaryKeySelective" parameterType="com.bqhx.yyb.vo.UserConditionVO">
		update t_user
		<set>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=VARCHAR},
			</if>
			<if test="sid != null">
				s_id = #{sid,jdbcType=VARCHAR},
			</if>
			<if test="did != null">
				d_id = #{did,jdbcType=VARCHAR},
			</if>
			<if test="fid != null">
				f_id = #{fid,jdbcType=VARCHAR},
			</if>
			<if test="yid != null">
				y_id = #{yid,jdbcType=VARCHAR},
			</if>
			<if test="tid != null">
				t_id = #{tid,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="delFlg != null">
				del_flg = #{delFlg,jdbcType=VARCHAR},
			</if>
			<if test="updUser != null">
				upd_user = #{updUser,jdbcType=CHAR},
			</if>
			<if test="updDate != null">
				upd_date = #{updDate,jdbcType=TIMESTAMP},
			</if>
			</set>
			where user_id = #{userId,jdbcType=VARCHAR}
			</update>
</mapper>